# Plagiarism Checking Portal Environment Configuration
JWT_SECRET=super_secure_academic_portal_jwt_secret_key_2026_cse_ug_soet
NODE_ENV=development
PORT=3000
NEXT_PUBLIC_APP_NAME="Plagiarism Checking Portal"
NEXT_PUBLIC_STUDENT_NAME="Tathagata Chakraborty"
NEXT_PUBLIC_STUDENT_ROLL="UG/SOET/30/24/144"
NEXT_PUBLIC_STUDENT_SECTION="G"
NEXT_PUBLIC_STUDENT_PROGRAM="B.Tech CSE"
